@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;    
}
body{
    overflow-x:hidden;
    line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
  
html{
    scroll-behavior:auto;
}

  
  nav{
    background: #ffffff;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 6px 2px;
  
  }
  .logo{
    position: relative;
    left: 5%;
    height: 60px;
  }
  .store{
    display: inline-block;
    padding: 35px 310px 380px 60px;

  
  
    font-size: 20px;
  }
  
  nav ul{
     
        margin-left: 0%;
        
  }
  nav ul li{
    position: relative;
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
  }
  nav ul li a{
    color: rgb(0, 0, 0);
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.5s;
    
  
  }
  .fa fa-bars{
    color: #ffffff;
  }
  
   nav ul li a:hover{
    background: #1c1c1c;
    color: #ffffff;
    
  }
  .caro{
    width: auto;
    height: auto;
  }
 
  
  input[type="search"]{
    width:23%;
    height: 50px;
    margin: 15px 20px 0px 0px;
    border-radius: 30px;
    padding: 20px;
    border-color: black;
    border-width: 2px;
    background-image: url(/icons/search.png);
    background-position-x: 5px;
    background-position-y: 30%;
    background-repeat: no-repeat;
    background-size: 5%;
  }
  input[type="search"]:hover{
    box-shadow: 0px 0px 20px 1px rgba(183, 183, 183, 0.627);
  }
  .main-holder{
    display:block;
  }

  .bgimage{
    position: relative;
    width: 1200px;
    top: 30%;
    margin: 50px;
    left: 8%;
    border-radius:65px;
    z-index: 1;
  }

  .bgcenter p{
    position: absolute;
    font-size:50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Geneva, Tahoma, sans-serif 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    top: 22%;
    color: rgb(28, 28, 28);
    left: 46%;
    z-index: 2;
    display: block;

  }
  .center{
    position: absolute;
    width: 98%;
    height: 400px;
    top: 67%;
    left: 17%;
    margin-left:720px;
    transform: translate(-50%, -45%);
    display: flex;
    z-index: 6;
    padding-left: 5px;
    }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-align: center;
    font-family: arial;
    transition: 0.5s;
    margin-left: 50px;
    justify-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    
    }
    .card:hover{
    transform: scale(1.1);
    }
    
    .price {
    color: grey;
    font-size: 22px;
    }
    
    .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 300px;
    font-size: 18px;
    transition: 0.6;
    
    }
    

    .heading p{
    position: relative;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 5px 0px 0px 650px;
    color:white;
    }
    
    
    
    
    
    .grad{
    width: 230px;
    height: 350px;
    margin: 10px 0px 0px 20px;
    background-color: #ffffff;
    /*background: radial-gradient(rgb(255, 236, 181) 20px, rgb(255, 255, 255) 80%);*/
    
    
    }
    .product{
    position: relative;
    width: 200px;
    height: 170px;
    top: 20px;
    left: 10%;
    
    
    }
    .product img{
    width: 200px;
    
    }
    .brand{
    position: relative;
    top:30%;
    font-size: 20px;
    color: rgb(119, 119, 255);
    
    }
    
    .product-name{
    position: relative;
    top: 12%;
    margin: 70px 0px 0px 10px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    color: rgb(123, 123, 123);
    
    
    }
    .price-section{
        position: relative;
        top: 10%;
        left: 20%;
        display: flex;

    }
    .product-price{
    position: relative;
    top:14%;
    font-size: 22px;
    margin:5px 0px 0px 6px;
    
    }
    .offer{
        position: relative;
        color: rgb(136, 254, 136);
        margin-top: 5px;
        margin-left: 8px;
    }
    .product-description{
    position: relative;
    font-size: 12px;
    margin: 10px 20px 0px 10px;
    color: rgb(166, 166, 166);
    
    
    }
    .btn-btn-dark{
    width: 400px;
    height: 50px;
    
    }
    .cart{
    
    position: relative;
    width: 300px;
    height: 50px;
    top: 9%;
    right: 0.5%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: .4s;
    background-image: url(/icons/shopping-cart.png);
    }
    /*.grad:hover + .cart{
    display: block;
    }*/

    .cart:hover{
    color: rgb(96, 255, 78);
    transform: scale(1.06); 
    }

    .banner{
        display: block;
    }
    
    .banner1{
        position: relative;
        width: 1510px;
        margin: 100px 20px 0px 5px;
        display: block;
        
    }

    .adidas{
        position: relative;
        left: 1%;
        width: 98%;
        height: 550px;
        background: rgb(210, 248, 247);
        margin: 20px 0px 0px 20px;
        border-radius: 10px;
    }
    .head-items{
        display: flex;
        
    }
    
    .adidas-head{
        position: relative;
        font-size: 30px;
        margin-top: 20px;
        left: 45%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-decoration:none;
    
     }
    .head-items button{
        position: relative;
        width: 100px;
        height: 40px;
        margin: 15px;
        left: 73%;
        background-color: rgb(0, 0, 0);
        border: none;
        color: white;
        font-size: 16px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border-radius: 6px;
        transition: 0.2s;
    }
    .head-items button:hover{
        transform: scale(1.1) ;
    }


    .adidas-center{
    position: absolute;
    width: 98%;
    height: 400px;
    top: 50%;
    left: 1%;
    margin-left:720px;
    transform: translate(-50%, -45%);
    display: flex;
    z-index: 6;
    padding-left: 5px;
    }

    .main-holder-next{
        position: relative;
        margin-top: 60px;
        background-color: red;
        height: 100%;
        display:inline-block;
        
    }
    
    marquee{
        position: relative;
        
        font-size: 18px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: rgb(26, 80, 255);
        text-align: justify;
        margin: 30px 0px 0px 0px;

    }

.formal{
    position: relative;
    
        width: 98%;
        height: 550px;
        background-color: #FAACA8;
        background-image: linear-gradient(40deg, #fec7a4 0%, #fdfff2 100%);
        margin: 20px 0px 0px 20px;
        border-radius: 10px;
}

.formal-head{
    position: relative;
        font-size: 30px;
        top: 4%;
        left: 45%;
        color: rgb(0, 0, 0);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-decoration:underline;
        text-decoration-color: rgb(255, 166, 166);
}
.formal-center{
    position: absolute;
    width: 98%;
    height: 400px;
    top: 50%;
    left: 1%;
    margin-left:720px;
    transform: translate(-50%, -45%);
    display: flex;
    z-index: 6;
    padding-left: 5px;
}

.formal-head{
    color: black;
    font-size: 35px;
    margin-top: 20px;
    text-decoration: none;
    font-family:'Times New Roman', Times, serif;
}
.heart{
    position: relative;
    width: 25px;
    float: right;
    margin: 20px 25px 0px 15px;
    transition: 0.5s;
}
.heart:hover{
    margin-top: 30px;
    margin-right: 30px;

}

.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: rgb(9, 24, 61);
    padding: 70px 0;
    margin-top: 15px;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #dd1f5e;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
.footer-col a img{
    margin-top: 5px;
    width: 30px;
}
.email-detail h3{
  color: white;
}
.email-detail p{
  color: rgb(169, 169, 169);
}


/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
